* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    background-color: #333;
    height: 60px;
}

nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    padding: 0 20px;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav a {
    display: block;
    color: #fff;
    text-decoration: none;
}

main {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

#main-content {
    flex: 2;
    margin-right: 20px;
}

#main-content h1 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

#main-content p {
    margin-bottom: 1rem;
}

#sidebar {
    flex: 1;
}

#sidebar h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem
}